.inventory {
    &_title {
        font-weight: 700;
        color: #092C4C;
        font-size: 18px;
        margin-bottom: 24px;
    }
    &_table {
        margin-bottom: 1.5rem;
        background-color: #ffffff;
        transition: all 0.5s ease-in-out;
        position: relative;
        border-radius: 4px;
        border: 1px solid #dbe0e6;
        box-shadow: none;
        padding: 24px;
        &_header {
            display: flex;
            justify-content: space-between;
            padding: 24px;
            border-top: 1px solid #dbe0e6;
        }
        &_list {
            display: flex;
            justify-content: space-between;
            padding: 24px;
            color: #092C4C;
            font-size: 14px;
            font-weight: 400;
            line-height: normal;
            border-top: 1px solid #dbe0e6;        
        }
    }
}