<div class="inventory">
    <div class="inventory_title">
        Inventory
        <div class="inventory_title_add" (click)="openAddInventoryModal(addInventoryModal)">
            Add inventory
        </div>
    </div>
    <div class="inventory_table">
        <div class="inventory_table_filter">
            
        </div>
        <div class="inventory_table_header">
            <div class="table_one">Product</div>
            <div class="table_two">Stocks</div>
            <div class="table_three">Category</div>
            <div class="table_four">Brand</div>
            <div class="table_five"></div>
        </div>
        <div class="inventory_table_list" *ngFor="let data of inventory">
            <div class="table_one">
                {{ data.product }}
            </div>
            <div class="table_two">
                {{ data.stocks }}
            </div>
            <div class="table_three">
                {{ data.category }}
            </div>
            <div class="table_four">
                {{ data.brand }}
            </div>
            <div class="table_five">
                <div class="inventory_table_list_add" (click)="addStock(data.id, data.product, addStockModal)">
                    Add stock
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #addStockModal let-d="dismiss">
    <div class="modal-header">
        Add stocks to<span>{{ selectedProduct }}</span>
    </div>
    <div class="modal-body">
        <div>
            <div class="modal-body-label" for="Stocks">Stocks</div>
            <input class="form-control" id="stocks" name="stocks" [(ngModel)]="stocks" placeholder="Enter stocks" >
        </div>
        <div class="modal-btns">
            <button class="btn modal-btns-cancel" (click)="d('Cross click')">Cancel</button>
            <button class="btn modal-btns-add" (click)="addStockToInventory()">
                Add
            </button>
        </div>
    </div>
</ng-template>

<ng-template #addInventoryModal let-d="dismiss">
    <div class="modal-header">
        Add inventory
    </div>
    <div class="modal-body">
        <form #send="ngForm" (ngSubmit)="onSubmit(send.value)">
            <div>
                <div class="modal-body-label" for="product">product</div>
                <input class="form-control" id="product" name="product" [(ngModel)]="product" placeholder="product" >
            </div>
            <div>
                <div class="modal-body-label" for="category">category</div>
                <input class="form-control" id="category" name="category" [(ngModel)]="category" placeholder="category" >
            </div>
            <div>
                <div class="modal-body-label" for="brand">brand</div>
                <input class="form-control" id="brand" name="brand" [(ngModel)]="brand" placeholder="brand" >
            </div>
            <div>
                <div class="modal-body-label" for="stocks">stocks</div>
                <input class="form-control" id="stocks" name="stocks" [(ngModel)]="stocks" placeholder="stocks" >
            </div>
            <div class="modal-btns">
                <button class="btn modal-btns-cancel" (click)="d('Cross click')">Cancel</button>
                <button class="btn modal-btns-add" type="submit">
                    Add
                </button>
            </div>
        </form>
    </div>
</ng-template>