<div class="inventory">
    <div class="inventory_title">
        Expenses
        <div class="inventory_title_add" (click)="openAddInventoryModal(addInventoryModal)">
            Add expense
        </div>
    </div>
    <div class="inventory_table">
        <div class="inventory_table_filter">
            
        </div>
        <div class="inventory_table_header">
            <div class="table_one">Expense</div>
            <div class="table_two">Month</div>
            <div class="table_three">Date</div>
            <div class="table_four">Amount</div>
            <div class="table_five">Channel</div>
        </div>
        <div class="inventory_table_list" *ngFor="let data of expenses">
            <div class="table_one">
                {{ data.expense }}
            </div>
            <div class="table_two">
                {{ data.month }}
            </div>
            <div class="table_three">
                {{ data.date | date:"EEEE, MMMM d, y, h:mm:ss" }}
            </div>
            <div class="table_four">
                PHP {{ data.amount }}
            </div>
            <div class="table_five">
                {{ data.channel }}
            </div>
        </div>
    </div>
</div>

<ng-template #addInventoryModal let-d="dismiss">
    <div class="modal-header">
        Add expense
    </div>
    <div class="modal-body">
        <form (submit)="addProduct()">
            <label class="modal-body-label" for="productName">expense:</label>
            <input class="form-control" type="text" id="productName" name="productName" [(ngModel)]="newExpenses.expense" required>
            <label class="modal-body-label" for="categoryName">amount:</label>
            <input class="form-control" type="number" id="categoryName" name="categoryName" [(ngModel)]="newExpenses.amount" required>
            <label class="modal-body-label" for="brandName">channel:</label>
            <input class="form-control" type="text" id="brandName" name="brandName" [(ngModel)]="newExpenses.channel" required>
            <label class="modal-body-label" for="productStocks">Stocks:</label>
            <div class="modal-btns">
                <button class="btn modal-btns-cancel" (click)="cancelForm()" type="button">Cancel</button>
                <button class="btn modal-btns-add" type="submit">
                    Add
                </button>
            </div>
        </form>
    </div>
</ng-template>
