<div class="products">
    <div class="products_title">
      Members
      <div class="products_title_add" (click)="addModal()">
        Add member
      </div>
    </div>
    <div class="products_table">
      <div class="products_table_filter">
        <!-- Member Filter Dropdown -->
        <app-member-filter
          [selectedMemberId]="selectedMemberId"
          [members]="members"
          (memberChange)="onMemberChange($event)"
        ></app-member-filter>
      </div>
      <div class="products_table_header">
        <div class="table_one">Name</div>
        <div class="table_two">Date Joined</div>
        <div class="table_three">Coffee</div>
        <div class="table_four">Total Load</div>
        <div class="table_five">Total Spent</div>
        <div class="table_six">Last Spent</div>
      </div>
      <div *ngIf="filteredMembers.length > 0; else noData">
        <div class="products_table_list" *ngFor="let data of filteredMembers">
          <div class="table_one">
            {{ data.name }}
          </div>
          <div class="table_two">
            {{ data.date_joined | date: 'EEEE, MMMM d, y, h:mm:ss' }}
          </div>
          <div class="table_three">
            PHP {{ data.coffee | number:'1.2-2' }}
          </div>
          <div class="table_four">
            PHP {{ data.total_load | number:'1.2-2' }}
          </div>
          <div class="table_five">
            PHP {{ data.total_spent | number:'1.2-2' }}
          </div>
          <div class="table_six">
            {{ data.last_spent | date: 'EEEE, MMMM d, y, h:mm:ss' }}
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <ng-template #addProductModal let-d="dismiss">
    <div class="modal-header">
      Add member
    </div>
    <div>
      <div class="modal-body">
        <form (submit)="addProduct()">
          <label class="modal-body-label" for="productName">Name:</label>
          <input class="form-control" type="text" id="productName" name="productName" [(ngModel)]="newProduct.name" required>
          <div class="modal-btns">
            <button class="btn modal-btns-cancel" (click)="cancelForm()" type="button">Cancel</button>
            <button class="btn modal-btns-add" type="submit">
              Add
            </button>
          </div>
        </form>
      </div>
    </div>
  </ng-template>
  
  <ng-template #noData>
    <app-no-data></app-no-data>
  </ng-template>
  