@import 'bootstrap/scss/_functions';
@import 'bootstrap/scss/_variables';
@import 'bootstrap/scss/mixins/_breakpoints';

.products {
    @include media-breakpoint-down(sm) {
        padding: 20px;
    }

    &_title {
        display: flex;
        justify-content: space-between;
        font-weight: 700;
        color: #092C4C;
        font-size: 18px;
        margin-bottom: 10px;
        &_add {
            background: #FF9F43;
            cursor: pointer;
            padding: 8px 11px;
            color: #ffffff;
            font-size: 14px;
            border-radius: 8px;
        }
        &_add:hover {
            background: #ffbb00;
        }
    }
    &_subtitle {
        display: flex;
        margin-bottom: 10px;
        align-items: center;
        justify-content: space-between;
    }
    &_table {
        overflow-x: auto;
        white-space: nowrap;
        width: 100%;
        margin-bottom: 1.5rem;
        background-color: #fff;
        transition: all .5s ease-in-out;
        position: relative;
        border-radius: 4px;
        border: 1px solid #dbe0e6;
        box-shadow: none;
        padding: 24px;
        @include media-breakpoint-down(sm) {
            padding: 15px;
            display: grid;
            overflow-x: auto;
        }
        &_filter {
            width: 200px;
            margin-bottom: 20px;
        }
        &_header {
            display: flex;
            // justify-content: space-between;
            // padding: 0 24px;
            // padding-bottom: 0.75rem;
            /* border-top: 1px solid #dbe0e6; */
            // border-bottom: 1px solid #dbe0e6;
            div {
                font-weight: 600;
                font-size: 15px;
            }
        }
        &_list {
            display: flex;
            color: #092c4c;
            font-size: 14px;
            font-weight: 400;
            line-height: normal;
            align-items: center;
            &_add {
                cursor: pointer;
                border-radius: 3px;
                text-align: center;
                padding: 0.25rem 0.5rem;
                font-size: 0.75rem;
                background-color: #092C4C !important;
                border: 1px solid #092C4C !important;
                color: #ffffff;
                box-shadow: 0 4px 20px rgba(9, 44, 76, 0.15);
            }
            &_add:hover {
                background-color: #051a2c !important;
                border: 1px solid #051a2c !important;
                box-shadow: 0 3px 10px rgba(9, 44, 76, 0.5);
            }
        }
    }
}

.table {
    &_one {
        min-width: 200px;
    }
    &_two {
        min-width: 280px;
    }
    &_three {
        min-width: 150px;
    }
    &_four {
        min-width: 150px;
    }
    &_five {
        min-width: 150px;
    }
    &_six {
        min-width: 250px;
    }
    &_seven {
        min-width: 90px;
    }
    &_eight {
        min-width: 150px;
    }
}

.modal-header {
    font-size: 16px;
    font-weight: 600;
    color: #1B2850;
}

.modal-header span {
    color: #FF9F43;
    padding-left: 5px;
}

.modal-body-label {
    font-size: 14px;
    color: #5B6670;
    margin-bottom: 8px;
    text-transform: capitalize;
}

.modal-btns {
    column-gap: 10px;
    display: flex;
    justify-content: end;
    padding: 20px 0;
    padding-bottom: 0;
}

.modal-btns-cancel {
    background: #67748E;
    color: #ffffff;
}

.modal-btns-cancel:hover {
    background: #424b52;
}

.modal-btns-add {
    background: #FF9F43;
    color: #ffffff;
}

.modal-btns-add:hover {
    background: #ffbb00;
}

.btn {
    border-radius: 3px;
    padding: 0.625rem 1.25rem;
    padding: 0.5rem 0.85rem;
    font-size: 0.85rem;
    transition: all 0.5s;
}

input {
    border-color: #e9edf6;
    color: #5B6670;
    font-size: 0.875rem;
    line-height: 1.6;
    padding: 0.5rem 0.85rem;
    // margin-bottom: 1rem;
}

::placeholder {
    color: #8b949b;
}

.btn {
    cursor: pointer;
    border-radius: 3px;
    text-align: center;
    padding: 0.25rem 0.5rem;
    font-size: 0.75rem;
    color: #ffffff;
    box-shadow: 0 4px 20px rgba(9, 44, 76, 0.15);

    &_primary {
        background-color: #092C4C !important;
        border: 1px solid #092C4C !important;
        box-shadow: 0 4px 20px rgba(9, 44, 76, 0.15);
    }
    
    &_primary:hover {
        background-color: #051a2c !important;
        border: 1px solid #051a2c !important;
        box-shadow: 0 3px 10px rgba(9, 44, 76, 0.5);
    }

    &_secondary {
        background-color: #FF0000 !important;
        border: 1px solid #FF0000 !important;
        box-shadow: 0 4px 20px rgba(9, 44, 76, 0.15);
    }
    
    &_secondary:hover {
        background-color: #db0000 !important;
        border: 1px solid #db0000 !important;
        box-shadow: 0 3px 10px rgba(255, 0, 0, 0.5);
    }
}

.table_one,
.table_one2,
.table_two,
.table_two2,
.table_three,
.table_four,
.table_five,
.table_six,
.table_seven,
.table_eight {
    height: 70px;
    align-items: center;
    // padding: 20px 0;
    padding: 24px;
    border-bottom: 1px solid #dbe0e6;
    display: flex;
}