.pos {
    display: flex;
    background-color: #f8f9fa;
    &_card {
        display: grid;
        column-gap: 40px;
        grid-template-columns: repeat(4, 1fr);
        &_drink {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 200px;
            height: 200px;
            font-size: 22px;
            font-weight: bold;
            padding: 15px;
            -webkit-transition: all 0.5s ease;
            -ms-transition: all 0.5s ease;
            transition: all 0.5s ease;
            margin-bottom: 1.5rem;
            background-color: #ffffff;
            transition: all 0.5s ease-in-out;
            position: relative;
            border-radius: 4px;
            border: 1px solid #dbe0e6;
            box-shadow: none;
            text-align: center;
        }
        &_price {
            font-size: 18px;
            font-weight: normal;
        }
    }
}