.pos {
    height: 100vh;
    padding: 24px;
    display: flex;
    column-gap: 40px;
    background-color: #f8f9fa;
    &_card {
        display: grid;
        column-gap: 40px;
        grid-template-columns: repeat(4, 1fr);
        &_drink {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 200px;
            height: 200px;
            font-size: 22px;
            font-weight: bold;
            padding: 15px;
            -webkit-transition: all 0.5s ease;
            -ms-transition: all 0.5s ease;
            transition: all 0.5s ease;
            margin-bottom: 1.5rem;
            background-color: #ffffff;
            transition: all 0.5s ease-in-out;
            position: relative;
            border-radius: 4px;
            border: 1px solid #dbe0e6;
            box-shadow: none;
            text-align: center;
        }
        &_price {
            font-size: 18px;
            font-weight: normal;
        }
    }
    &_selected {
        width: 100%;
        height: fit-content;
        padding: 24px;
        background-color: #ffffff;
        border-left: 1px solid #f3f6f9;
        &_orders {
            font-size: 16px;
            font-weight: 600;
            margin-bottom: 20px;
            color: #1B2850;
        }
        &_product {
            box-shadow: 0px 4px 60px 0px rgba(231, 231, 231, 0.47);
            margin: 0 0 10px 0;
            padding: 10px;
            &_info {
                display: flex;
                justify-content: space-between;
                align-items: center;
                &_product {
                    width: 115px;
                    color: #092C4C;
                    font-weight: 600;
                }
                &_qty {
                    width: 110px;
                    display: flex;
                    align-items: center;
                    column-gap: 5px;
                    &_price {
                        width: 60px
                    }
                    input {
                        padding: 1px 9px;
                        background: #FAFBFE;
                        border-radius: 8px;
                        height: 28px;
                        width: 71px;
                        text-align: center;
                        font-size: 14px;
                        border: 1px solid #e9edf6;
                        color: #5B6670;
                    }
                    svg {
                        width: 14px;
                        height: 14px;
                        border-radius: 50px;
                        border: 1px solid #082c4c;
                        fill: #082c4c;
                        cursor: pointer;
                    }
                    &_total {
                        width: 65;
                    }
                }
            
                &_delete {
                    width: 14px;
                    height: 14px;
                    fill: #f00;
                    cursor: pointer;
                }
            }
        }
        &_subtotal {
            padding: 0 10px;
            justify-content: space-between;
            display: flex;
        }
        &_pc {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px;
            input {
                width: 100px;
                text-align: right;
                margin-right: 30px;
            }
        }
        &_total {
            color: #5B6670;
            background-color: #f3f6f9;
            padding: 10px;
            border-radius: 8px;
            &_qty {
                display: flex;
                border-bottom: 1px dashed #dbe0e6;
                padding-bottom: 10px;            
                &_text {
                    width: 300px;
                }
                &_qty {
                    width: 100px;
                    text-align: right;
                }
            }
            &_amount {
                display: flex;
                padding-top: 10px;
                &_text {
                    width: 300px;
                }
                &_amount {
                    width: 100px;
                    font-weight: 600;
                    text-align: right;
                }
            }
        }
        &_next {
            background-color: #28C76F;
            border: 1px solid #28C76F;
            color: #ffffff;
            cursor: pointer;
            text-align: center;
            border-radius: 4px;
            font-size: 14px;
            padding: 10px;
            margin-top: 20px;
            box-shadow: 0 4px 20px rgba(40, 199, 111, 0.15);
        }
        &_next:hover {
            background-color: #22a95e;
            border: 1px solid #22a95e;
            box-shadow: 0 3px 10px rgba(40, 199, 111, 0.5);
        }
    }
}

.disable, .disable:hover {
    background-color: #BFEED4;
    color: #28C76F;
    cursor: not-allowed;
    border: none;
    box-shadow: none;
}
