<div class="pos">
    <div> 
        <div *ngIf="products && products.length" class="pos_card">
            <div *ngFor="let product of products" class="pos_card_drink">
                <div>
                    {{ product.product }}
                    <div class="pos_card_price">PHP {{ product.price }}</div>
                </div>
                <button (click)="addToRightDiv(product)">Add</button>
            </div>
        </div>
        <div *ngIf="!products || products.length === 0">
            No products available.
        </div>
    </div>
    <div class="pos_selected">
        <div class="pos_selected_orders">Orders</div>
        <ng-select [(ngModel)]="selectedMemberId" (change)="onMemberChange()">
            <ng-option [value]="0" selected>Walk-in Customer</ng-option>
            @for (car of members; track car.id) {
                <ng-option [value]="car.id">{{car.name}}</ng-option>
            }
        </ng-select>
          
        <div *ngFor="let selectedProduct of selectedProducts; let i = index" class="pos_selected_product">
            <div class="pos_selected_product_info">
                <span class="pos_selected_product_info_product">{{ selectedProduct.product }}</span>
                <div class="pos_selected_product_info_price">PHP {{ selectedProduct.price }}</div>
                <div class="pos_selected_product_info_qty">
                    <svg (click)="decrementCounter(selectedProduct)" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M19 11H5V13H19V11Z"></path></svg>
                    <input class="form-control" type="number" [(ngModel)]="selectedProduct.counter" (ngModelChange)="updateOverallTotal()" min="0">
                    <svg (click)="incrementCounter(selectedProduct)" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M11 11V5H13V11H19V13H13V19H11V13H5V11H11Z"></path></svg>
                </div>
                <div class="pos_selected_product_info_total">PHP {{ selectedProduct.price * selectedProduct.counter }}</div>
                <svg (click)="deleteProduct(i)" class="pos_selected_product_info_delete" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M17 6H22V8H20V21C20 21.5523 19.5523 22 19 22H5C4.44772 22 4 21.5523 4 21V8H2V6H7V3C7 2.44772 7.44772 2 8 2H16C16.5523 2 17 2.44772 17 3V6ZM18 8H6V20H18V8ZM9 11H11V17H9V11ZM13 11H15V17H13V11ZM9 4V6H15V4H9Z"></path></svg>
            </div>
        </div>

        <div class="">
            <div class="">PC</div>
            <input [(ngModel)]="pc" placeholder="Enter load" (input)="updateButtonState()">
        </div>

        <div class="pos_selected_total">
            <div class="pos_selected_total_qty">
                <div class="pos_selected_total_qty_text">Quantity</div>
                <div class="pos_selected_total_qty_qty">{{ totalQuantity }}</div>
            </div>
            <div class="pos_selected_total_amount">
                <div class="pos_selected_total_amount_text">Total</div>
                <div class="pos_selected_total_amount_amount">PHP {{ overallTotal }}</div>
            </div>
        </div>
        <div class="pos_selected_next" [class.disable]="selectedProducts.length === 0 || pc <= 0" (click)="clearSelectedProducts()">Next Order</div>

    </div>
</div>
