<div class="pos">
    <div> 
        <div *ngIf="products && products.length" class="pos_card">
            <div *ngFor="let product of products" class="pos_card_drink">
                <div>
                    {{ product.product }}
                    <div class="pos_card_price">PHP {{ product.price }}</div>
                </div>
                <button (click)="addToRightDiv(product)">Add</button>
            </div>
        </div>
        <div *ngIf="!products || products.length === 0">
            No products available.
        </div>
    </div>
    <div class="pos_selected">
        <h2>Selected Products</h2>
        <div *ngFor="let selectedProduct of selectedProducts; let i = index" class="pos_selected_product">
            <div class="product-info">
                <span>{{ selectedProduct.product }}</span>
                <div class="counter-container">
                    <button (click)="decrementCounter(selectedProduct)">-</button>
                    <div class="product-counter">{{ selectedProduct.counter }}</div>
                    <button (click)="incrementCounter(selectedProduct)">+</button>
                </div>
                <div class="pos_selected_product_price">PHP {{ selectedProduct.price }}</div>
                <button (click)="deleteProduct(i)">Delete</button>
            </div>
            <div class="pos_selected_product_total">Total: PHP {{ selectedProduct.price * selectedProduct.counter }}</div>
        </div>
        <div class="pos_overall_total">Overall Total: PHP {{ overallTotal }}</div>
    </div>
</div>
