<div class="inventory">
    <div class="inventory_title">
        Inventory
        <div class="inventory_title_add" (click)="openAddInventoryModal(addInventoryModal)">
            Add inventory
        </div>
    </div>
    <div class="inventory_table">
        <div class="inventory_table_filter">
            
        </div>
        <div class="inventory_table_header">
            <div class="table_one">Product</div>
            <div class="table_two">Qty</div>
            <div class="table_three">Category</div>
            <div class="table_four">Brand</div>
            <div class="table_five"></div>
        </div>
        <div *ngIf="inventory.length > 0; else noData">
            <div *ngFor="let data of inventory">
                <div class="inventory_table_list">
                    <div class="table_one">{{ data.product }}</div>
                    <div class="table_two">{{ data.stocks }}</div>
                    <div class="table_three">{{ data.category }}</div>
                    <div class="table_four">{{ data.brand }}</div>
                    <div class="table_five">
                        <div class="inventory_table_list_add" (click)="editProduct(data)">
                            Add stock
                        </div>
                    </div>
                </div>
            </div>            
        </div>
    </div>
</div>

<ng-template #addStockModal let-d="dismiss">
    <div class="modal-header">
        Add stocks to<span>{{ editingProduct?.product }}</span>
    </div>
    <div class="modal-body">
        <form (submit)="saveEditedProduct()">
            <div class="modal-body-label">
              <label for="editProductPrice">Stock:</label>
              </div>
              <input class="form-control" type="number" id="editProductPrice" name="editProductPrice" [(ngModel)]="qty" required>
              <div class="modal-btns">
                  <button class="btn modal-btns-cancel" (click)="cancelForm()" type="button">Cancel</button>
                  <button class="btn modal-btns-add" type="submit">
                      Add
                  </button>
            </div>
        </form>
    </div>
</ng-template>

<ng-template #addInventoryModal let-d="dismiss">
    <div class="modal-header">
        Add inventory
    </div>
    <div class="modal-body">
        <form (submit)="addProduct()">
            <label class="modal-body-label" for="productName">Product:</label>
            <input class="form-control" type="text" id="productName" name="productName" [(ngModel)]="newInventory.product" required>
            <label class="modal-body-label" for="categoryName">Category:</label>
            <input class="form-control" type="text" id="categoryName" name="categoryName" [(ngModel)]="newInventory.category" required>
            <label class="modal-body-label" for="brandName">Brand:</label>
            <input class="form-control" type="text" id="brandName" name="brandName" [(ngModel)]="newInventory.brand" required>
            <label class="modal-body-label" for="productStocks">Stocks:</label>
            <input class="form-control" type="number" id="productStocks" name="productStocks" [(ngModel)]="newInventory.stocks" required>
            <div class="modal-btns">
                <button class="btn modal-btns-cancel" (click)="cancelForm()" type="button">Cancel</button>
                <button class="btn modal-btns-add" type="submit">
                    Add
                </button>
            </div>
        </form>
    </div>
</ng-template>

<ng-template #noData>
    <app-no-data></app-no-data>
</ng-template>