<div class="products">
    <div class="products_title">
        Drinks
        <div class="products_title_add" (click)="addModal()">
            Add drink
        </div>
    </div>
    <div class="products_table">
        <div class="products_table_filter">
            
        </div>
        <div class="products_table_header">
            <div class="table_one">Drink</div>
            <div class="table_two">Price</div>
            <div class="table_five"></div>
        </div>
        <div *ngIf="products.length > 0; else noData">
            <div class="products_table_list" *ngFor="let data of products">
                <div class="table_one">
                    {{ data.product }}
                </div>
                <div class="table_two">
                    PHP {{ data.price }}
                </div>
                <div class="table_five">
                    <div class="products_table_list_add" (click)="editProduct(data)">
                        Edit
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #editProductModal let-d="dismiss">
    <div *ngIf="editingProduct">
      <div class="modal-header">
        Edit <span>{{ editingProduct?.product }}</span>
      </div>
      <div class="modal-body">
        <form (submit)="saveEditedProduct()">
          <div class="modal-body-label">
          <label for="editProductPrice">Price:</label>
        </div>
          <input class="form-control" type="number" id="editProductPrice" name="editProductPrice" [(ngModel)]="editingProduct.price" required>
          <div class="modal-btns">
            <button class="btn modal-btns-cancel"  (click)="cancelForm()" type="button">Cancel</button>
            <button class="btn modal-btns-add" type="submit">
                Save
            </button>
        </div>
        </form>
      </div>
    </div>
  </ng-template>

  <ng-template #addProductModal let-d="dismiss">
    <div class="modal-header">
        Add drink
    </div>
    <div>
        <div class="modal-body">
            <form (submit)="addProduct()">
                <label for="productName">Product:</label>
                <input class="form-control" type="text" id="productName" name="productName" [(ngModel)]="newProduct.product" required>
                <label for="productPrice">Price:</label>
                <input class="form-control" type="number" id="productPrice" name="productPrice" [(ngModel)]="newProduct.price" required>
                <div class="modal-btns">
                    <button class="btn modal-btns-cancel" (click)="cancelForm()" type="button">Cancel</button>
                    <button class="btn modal-btns-add" type="submit">
                        Add
                    </button>
                </div>
            </form>
        </div>
    </div>
  </ng-template>

  <!-- -<ng-template #addProductModal let-d="dismiss">
    -    <div class="modal-header">
    -        Add drink
    -    </div>
    -    <div class="modal-body">
    -        <form (submit)="addProduct()">
    -            <div>
    -                <label for="productName">Name:</label>
    -                <input class="form-control" id="product" name="product" [(ngModel)]="product" placeholder="product" >
    -            </div>
    -            <div>
    -                <div class="modal-body-label" for="price">price</div>
    -                <input class="form-control" id="price" name="price" [(ngModel)]="price" placeholder="price" >
    -            </div>
    -            <div class="modal-btns">
    -                <button class="btn modal-btns-cancel" (click)="cancelForm()" type="button">Cancel</button>
    -                <button class="btn modal-btns-add" type="submit">
    -                    Add
    -                </button>
    -            </div>
             </form>
    +      </div>
         </div>
    -</ng-template> -->
    


<ng-template #noData>
    <app-no-data></app-no-data>
</ng-template>