@import 'bootstrap/scss/_functions';
@import 'bootstrap/scss/_variables';
@import 'bootstrap/scss/mixins/_breakpoints';

.inventory {
    @include media-breakpoint-down(sm) {
        padding: 20px;
    }

    &_title {
        display: flex;
        justify-content: space-between;
        font-weight: 700;
        color: #092C4C;
        font-size: 18px;
        margin-bottom: 24px;
        &_add {
            background: #FF9F43;
            cursor: pointer;
            padding: 8px 11px;
            color: #ffffff;
            font-size: 14px;
            border-radius: 8px;
        }
        &_add:hover {
            background: #ffbb00;
        }
    }
    &_table {
        margin-bottom: 1.5rem;
        background-color: #ffffff;
        transition: all 0.5s ease-in-out;
        position: relative;
        border-radius: 4px;
        border: 1px solid #dbe0e6;
        box-shadow: none;
        padding: 24px;
        @include media-breakpoint-down(sm) {
            padding: 15px;
            display: grid;
            overflow-x: auto;
        }

        &_header {
            display: flex;
            justify-content: space-between;
            padding: 0 24px;
            padding-bottom: 0.75rem;
            border-bottom: 1px solid #dbe0e6;
            div {
                font-weight: 600;
                font-size: 15px;
            }
        }
        &_list {
            display: flex;
            justify-content: space-between;
            padding: 24px;
            color: #092C4C;
            font-size: 14px;
            font-weight: 400;
            line-height: normal;
            border-bottom: 1px solid #dbe0e6;
            &_add:hover {
                background-color: #051a2c !important;
                border: 1px solid #051a2c !important;
                box-shadow: 0 3px 10px rgba(9, 44, 76, 0.5);
            }
        }
    }
}

.table {
    &_one {
        width: 240px;
    }
    &_two {
        width: 70px;
    }
    &_three {
        width: 120px;
    }
    &_four {
        width: 230px;
    }
    &_five {
        width: 150px;
    }
    &_six {
        width: 110px;
    }
    &_seven {
        width: 80px;
    }
    &_eight {
        width: 110px;
    }
    &_nine {
        width: 50px;
    }
}

.modal-header {
    font-size: 16px;
    font-weight: 600;
    color: #1B2850;
}

.modal-header span {
    color: #FF9F43;
    padding-left: 5px;
}

.modal-body-label {
    font-size: 14px;
    color: #5B6670;
    margin-bottom: 8px;
    text-transform: capitalize;
}

.modal-btns {
    column-gap: 10px;
    display: flex;
    justify-content: end;
    padding: 20px 0;
    padding-bottom: 0;
}

.modal-btns-cancel {
    background: #67748E;
    color: #ffffff;
}

.modal-btns-cancel:hover {
    background: #424b52;
}

.modal-btns-add {
    background: #FF9F43;
    color: #ffffff;
}

.modal-btns-add:hover {
    background: #ffbb00;
}

.btn {
    border-radius: 3px;
    padding: 0.625rem 1.25rem;
    padding: 0.5rem 0.85rem;
    font-size: 0.85rem;
    transition: all 0.5s;
}

input {
    border-color: #e9edf6;
    color: #5B6670;
    font-size: 0.875rem;
    line-height: 1.6;
    padding: 0.5rem 0.85rem;
    margin-bottom: 1rem;
}

::placeholder {
    color: #8b949b;
}

.invoice {
    padding: 30px;
    padding-top: 15px;
    color: #5B6670;
    @include media-breakpoint-down(sm) {
        padding: 10px;
    }
    &_header {
        font-family: "Poppins-Bold", sans-serif;
        justify-content: center;
        display: flex;
        align-items: center;
        column-gap: 10px;
        img {
            width: 80px;
        }
        div {
            line-height: 1;
            text-align: right;
            div:nth-of-type(1) {
                font-size: 10px;
                color: #fb0;
            }
            div:nth-of-type(2) {
                font-size: 20px;
            }
        }
    }
    &_text {
        margin: 10px 0;
        font-weight: 600;
        position: relative;
        text-align: center;
    }
    &_text:before {
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        content: "";
        border-top: 1px dashed #5B6670;
        width: 35%;
        position: absolute;
        top: 50%;
        left: 0;
    }
    &_text:after {
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        content: "";
        border-top: 1px dashed #5B6670;
        width: 35%;
        position: absolute;
        top: 50%;
        right: 0;
    }
    &_body {
        font-size: 14px;
        &_header, &_total {
            justify-content: space-between;
            display: flex;
        }
        &_table {
            border-top: 1px dashed #5B6670;
            border-bottom: 1px dashed #5B6670;
            padding-bottom: 5px;
            margin: 15px 0;
            &_header {
                display: flex;
                padding: 5px;
                color: #092C4C;
                font-weight: bold;
                margin-bottom: 5px;
                border-bottom: 1px dashed #5B6670;
            }
            &_data {
                display: flex;
                padding: 5px;
            }
        }
        &_computer {
            display: flex;
            justify-content: space-between;
        }
        &_total {
            font-weight: 500;
            font-size: 15px;
            color: #092C4C;
            margin-top: 5px;
        }
    }
}

.modal-content {
    width: 424px !important;
    margin: 0 auto;
    @include media-breakpoint-down(sm) {
        width: 250px !important;
    }
}

.table1 {
    &_one {
        width: 128px;
    }
    &_two {
        width: 108px;
    }
    &_three {
        width: 58px;
    }
    &_four {
        width: 58px;
        text-align: right;
    }
}

.primary-btn {
    cursor: pointer;
    border-radius: 3px;
    text-align: center;
    padding: 0.25rem 0.5rem;
    font-size: 0.75rem;
    background-color: #092C4C !important;
    border: 1px solid #092C4C !important;
    color: #ffffff;
    box-shadow: 0 4px 20px rgba(9, 44, 76, 0.15);
}

.primary-btn:hover {
    background-color: #051a2c !important;
    border: 1px solid #051a2c !important;
    box-shadow: 0 3px 10px rgba(9, 44, 76, 0.5);
}

.secondary-btn {
    cursor: pointer;
    border-radius: 3px;
    text-align: center;
    padding: 0.25rem 0.5rem;
    font-size: 0.75rem;
    background-color: #FF0000 !important;
    border: 1px solid #FF0000 !important;
    color: #ffffff;
    box-shadow: 0 4px 20px rgba(9, 44, 76, 0.15);
}

.secondary-btn:hover {
    background-color: #db0000 !important;
    border: 1px solid #db0000 !important;
    box-shadow: 0 3px 10px rgba(255, 0, 0, 0.5);
}