@font-face {
    font-family: 'NunitoSans';
    src: url('../assets/fonts/NunitoSans.ttf') format('truetype'),
}

.app {
    font-family: 'NunitoSans';
    display: flex;
    height: 100vh;
    &_content {
        background-color: #FAFBFE;
        width: 100%;
        padding: 24px;
    }
}