.dashboard {
    &_cards {
        display: flex;
        justify-content: space-between;
        &_income, &_expenses, &_cups {
            color: #ffffff;
            height: 98px;
            width: 380px;
            border-radius: 6px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            align-items: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            justify-content: space-between;
            -webkit-justify-content: space-between;
            -ms-flex-pack: space-between;
            margin: 0 0 25px;
            padding: 20px;
        }
        &_income {
            background: #1B2850;
        }
        &_expenses {
            background-color: #FF4D4D;
        }
        &_cups {
            background-color: #28C76F;;
        }
    }
}