@import 'bootstrap/scss/_functions';
@import 'bootstrap/scss/_variables';
@import 'bootstrap/scss/mixins/_breakpoints';

.dashboard {
    @include media-breakpoint-down(sm) {
        padding: 20px;
    }
    &_cards {
        display: flex;
        justify-content: space-between;
        @include media-breakpoint-down(sm) {
            display: block;
        }
        &_income, &_expenses, &_cups, &_computer, &_food {
            font-weight: 700;
            font-size: 18px;
            color: #ffffff;
            height: 98px;
            width: 380px;
            border-radius: 6px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            align-items: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            justify-content: space-between;
            -webkit-justify-content: space-between;
            -ms-flex-pack: space-between;
            margin: 0 0 25px;
            padding: 20px;
            @include media-breakpoint-down(sm) {
                width: 100%;
            }
            &_header {
                font-size: 14px;
                font-weight: normal;
            }
            &_icon {
                background-color: #d2d2d2;
                width: 48px;
                height: 48px;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                align-items: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                justify-content: center;
                -webkit-justify-content: center;
                -ms-flex-pack: center;
                border-radius: 50px;
                svg {
                    width: 34px;
                }
            }
        }
        &_income {
            background: #1B2850;
            &_icon {
                svg {
                    fill: #1b2850;
                }
            }
        }
        &_expenses {
            background-color: #FF4D4D;
            &_icon {
                svg {
                    fill: #FF4D4D;
                }
            }
        }
        &_cups {
            background-color: #28C76F;
            &_icon {
                svg {
                    fill: #28C76F;
                }
            }
        }
        &_computer {
            background-color: #FF9F43;
            &_icon {
                svg {
                    fill: #FF9F43;
                }
            }
        }
        &_food {
            background-color: #00CFE8;
            &_icon {
                svg {
                    fill: #00CFE8;
                }
            }
        }
    }
    &_top {
        margin-bottom: 1.5rem;
        background-color: #ffffff;
        transition: all 0.5s ease-in-out;
        position: relative;
        border-radius: 4px;
        border: 1px solid #dbe0e6;
        box-shadow: none;
        padding: 24px;
        width: 400px;
        height: fit-content;
    }
    &_table {
        margin-bottom: 1.5rem;
        background-color: #ffffff;
        transition: all 0.5s ease-in-out;
        position: relative;
        border-radius: 4px;
        border: 1px solid #dbe0e6;
        box-shadow: none;
        padding: 24px;
        @include media-breakpoint-down(sm) {
            padding: 15px;
            display: grid;
            overflow-x: auto;
        }

        &_header {
            display: flex;
            // justify-content: space-between;
            padding: 0 24px;
            padding-bottom: 0.75rem;
            /* border-top: 1px solid #dbe0e6; */
            border-bottom: 1px solid #dbe0e6;
            div {
                font-weight: 600;
                font-size: 15px;
            }
        }
        &_list {
            display: flex;
            padding: 24px;
            color: #092C4C;
            font-size: 14px;
            font-weight: 400;
            line-height: normal;
            border-bottom: 1px solid #dbe0e6;
            &_add {
                cursor: pointer;
                border-radius: 3px;
                text-align: center;
                padding: 0.25rem 0.5rem;
                font-size: 0.75rem;
                background-color: #092C4C !important;
                border: 1px solid #092C4C !important;
                color: #ffffff;
                box-shadow: 0 4px 20px rgba(9, 44, 76, 0.15);
            }
            &_add:hover {
                background-color: #051a2c !important;
                border: 1px solid #051a2c !important;
                box-shadow: 0 3px 10px rgba(9, 44, 76, 0.5);
            }
        }
    }
}

h2 {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    color: #092C4C;
    font-size: 18px;
    margin-bottom: 24px;
}

.table {
    &_one {
        width: 180px;
    }
    &_two {
        width: 180px;
    }
    &_three {
        width: 200px;
    }
    &_four {
        width: 120px;
    }
    &_five {
        width: 150px;
    }
    &_six {
        width: 110px;
    }
    &_seven {
        width: 80px;
    }
    &_eight {
        width: 110px;
    }
    &_nine {
        width: 50px;
    }
}